{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.privacidade }}
    {{ if .enable }}
    {{ "<!-- Service Section Start -->" | safeHTML }}
    <section class="privacidade section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}<h4>{{.}}</h4>{{ end }}
                        {{ with .title }}<h2>{{.}}</h2><span class="border"></span>{{ end }}
                        <div class="termosdeuso">
                        {{ range .item }}
                            <h3>{{ .titulo }}</h3>
                            <p>{{ .paragrafo }}</p>
                        {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ "<!-- Service Section Start -->" | safeHTML }}
    {{ end }}
{{ end }}